<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>I'm Totally Buggin'</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
</head>

<body>
    <div>
        <img src="" alt="" srcset="https://emojis.slackmojis.com/emojis/images/1539890226/4845/rickroll.gif?1539890226">
    </div>
    <div class="instagram">
        <a href="https://www.youtube.com/watch?v=iik25wqIuFo" id="userName">Have fun using this page</a>
    </div>
    <div class="links">
        <button><a class="link" href="https://tuwien.zoom.us/j/91507900218" target="_blank">Biocompatible Materials (Zoom)</a></button>
        <button><a class="link" href="https://tuwien.zoom.us/j/98825208136?pwd=R0pPOEhkYTFFL2ZLditDc205ZWF1dz09" target="_blank">Lazr (pew pew)</a></button>
        <button><a class="link" href="https://tuwien.zoom.us/j/95044636116?pwd=UWVhNDVYUjhpS2cvZ2ptTjgyQ0RQZz09y9U2Y2?X" target="_blank">Anatomy and Histology (Zoom)</a></button>
        <button><a class="link" href="https://tuwien.zoom.us/j/91676916156?pwd=aHdTQk5mSWo0bDZvUk84ZHd6RlNEdz09" target="_blank">Biosignals (Zoom)</a></button>
        <button><a class="link" href="https://tuwien.zoom.us/j/92156393023?pwd=ZzNlb1VYVG5mQzkrWWVxZ1J3TkFlUT09" target="_blank">Assistive Technologies (Zoom)</a></button>
        <button><a class="link" href="http://www.lohninger.eu/tuwien/biostat_intro" target="_blank">Biostatistics (Zoom)</a></button>
        <button><a class="link" href="https://tuwien.zoom.us/j/92533712822?pwd=YUViTzlNd1drYkFMbEhBOEs4U3Eydz09" target="_blank">Unfallbiomechanik (Zoom)</a></button>
    </div>

    <!-- Javascript -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="index.js"></script>
</body>

</html>
