<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex,nofollow" />    <title>MNMLSM</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
</head>

<body>
    <div class="container">
    <div class="content">
        <img id="userPhoto" src="img/avatar.svg" alt="User Photo">

        <h1><a href="#" id="userName" rel="noopener">@MNML</a></h1>
        <div id="links">
            <button><a class="link" href="https://tuwien.zoom.us/j/91507900218" target="_blank">Biocompatible Materials (Zoom)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/96571862397?pwd=VFpOT2NqTFJGWDEwZWFZRU9vRzllQT09" target="_blank">Einführung in die biologische Chemie (Zoom)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/98825208136?pwd=R0pPOEhkYTFFL2ZLditDc205ZWF1dz09" target="_blank">Lazr (pew pew)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/95044636116?pwd=UWVhNDVYUjhpS2cvZ2ptTjgyQ0RQZz09y9U2Y2?X" target="_blank">Anatomy and Histology (Zoom)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/91676916156?pwd=aHdTQk5mSWo0bDZvUk84ZHd6RlNEdz09" target="_blank">Biosignals (Zoom)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/92156393023?pwd=ZzNlb1VYVG5mQzkrWWVxZ1J3TkFlUT09" target="_blank">Assistive Technologies (Zoom)</a></button>
            <button><a class="link" href="http://www.lohninger.eu/tuwien/biostat_intro" target="_blank">Biostatistics (Zoom)</a></button>
            <button><a class="link" href="https://tuwien.zoom.us/j/92533712822?pwd=YUViTzlNd1drYkFMbEhBOEs4U3Eydz09" target="_blank">Unfallbiomechanik (Zoom)</a></button>
        </div>

        <footer>
            We like it minimal. </footer>
    </div>
</div>


</body>

</html>
